<%= render "filter_form"%>

<%= render "layouts/csvdl_button", csv_download_path: "landing_page_csv_download_path" %>

<div class="card">
  <div class="table-responsive-xl table-hover">
    <table class="table align-items-center">
      <thead>
        <tr>
          <th scope="col" style="width:15%">ブランド名</th>
          <th scope="col" style="width:35%">サムネイル</th>
          <th scope="col" style="width:20%">タイトル</th>
          <th scope="col" style="width:20%">ディスクリプション</th>
          <th scope="col" style="width:10%;">リンク元投稿数</th>
        </tr>
      </thead>
      <tbody>
        <%= render @landing_pages %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'layouts/pagination_link', records: @landing_pages %>
