<div class="form-group row mx-0 d-flex align-items-center">
  <%= form.label :search_account, "アカウント名", class: "col-3 pr-2 filter_form_labels" %>
  <%= form.text_field :search_account, class: "col-9 form-control form-control-sm  filter_form_values", placeholder: "例: botanist", value: params[:search_account] %>
</div>
