<div class="form-group row mx-0 d-flex align-items-center">
  <%= form.label :search_text, "キーワード", class: "col-3 pr-2 filter_form_labels"%>
  <%= form.text_field :search_text, class: "col-9 form-control form-control-sm  filter_form_values", placeholder: "例: botanist", value: params[:search_text] %>
</div>
