<div class="form-group row mx-0 d-flex align-items-center">
  <%= form.label :media, 'SNS', class:"col-3 pr-2 filter_form_labels" %>
  <%= form.select :media, options_for_select(media_list, selected: params[:media]), {include_blank:'全SNS'}, class: 'col-9 form-control form-control-sm  filter_form_values' %>
</div>
