<div class="form-group row mx-0 d-flex align-items-center">
  <%= form.label :hour, "投稿時刻", class:"col-3 pr-2 filter_form_labels"%>
  <div class="col-9 p-0" , style="border: none;">
    <div>
      <button id="talk_am_filter" class="btn btn-secondary btn-sm" type="button">午前</button>
      <button id="talk_pm_filter" class="btn btn-secondary btn-sm" type="button">午後</button>
      <button id="talk_morning_filter" class="btn btn-secondary btn-sm" type="button">朝</button>
      <button id="talk_daytime_filter" class="btn btn-secondary btn-sm" type="button">昼</button>
      <button id="talk_evening_filter" class="btn btn-secondary btn-sm" type="button">夕</button>
      <button id="talk_night_filter" class="btn btn-secondary btn-sm" type="button">夜</button>
      <button id="talk_midnight_filter" class="btn btn-secondary btn-sm" type="button">深夜</button>
    </div>
  </div>
</div>

<div class="form-group row mx-0">
  <div class="offset-3 col-9 p-0">
    <div class="filter_form_values row p-0 mt-0">
      <div class="col-5 p-0">
        <%= form.select :hour_start, options_for_select(hour_list, selected: params[:hour_start]), {include_blank: '選択してください'},  class: "form-control form-control-sm filter_form_values", id: "talk_hour_start" %>
      </div>
      <div class="col-2 d-flex align-items-center justify-content-center">〜</div>
      <div class="col-5 p-0">
        <%= form.select :hour_end, options_for_select(hour_list, selected: params[:hour_end]), {include_blank: '選択してください'},  class: "form-control form-control-sm filter_form_values", id: "talk_hour_end" %>
      </div>
    </div>
  </div>
</div>
