<div class="form-group row mx-0 d-flex align-items-center">
  <%= form.label :week, "週：", class:"col-4 month_week_labels"%>
  <select id="aggregated_week" name="aggregated_week" class="col-3 form-control form-control-sm  filter_form_values">
    <option value="">選択してください</option>
      <option value="">
      </option>
  </select>
</div>
