.follower_transition_icon {
  position: absolute;
  top: 335px;
  border-radius: 50%;
  text-align: center;
  min-width: 12px;
  min-height: 15px;
  white-space: nowrap;
}

.follower_transition_icon span{
  font-size: 13px;
  display: block;
  height:100%;
  width: 100%;
  line-height: 15px;
}

.follower-transition-icon-label{
    font-size: 14px;
    top: 305px;
    position: absolute;
}
