<div class="card" id="card-post-body">
    <div class="card-body" id="card-post-body-inner">
        <div class="card-text overflow-auto h-100" id="card-post-body-text">
            <%== text_url_to_link simple_format @post.text %>
        </div>
    </div>
</div>