<%= render "filter_form", redirect_path: talk_posts_path %>
<div class="card">
  <div class="table-responsive">
    <table class="table align-items-center table-hover" style="table-layout: fixed;">
      <thead>
        <tr>
          <th scope="col" style="width:25%">アカウント</th>
          <th scope="col" style="width:60%;">コンテンツ</th>
          <th scope="col" style="width:15%">投稿日時</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'talk_posts/talk_post_content', talk_post_contents: @talk_post_contents %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'layouts/pagination_link', records: @talk_post_contents %>
