<div class="card">
  <%= render 'filter_elements/aggregation_graph_header', { graph_title: "#{graph_title(account)}推移", controller: "account", graph_name: "follower_transition" }%>
  <div class="card-body row justify-content-around">
    <div class="col-xl-5 mb-4">
      <%= render 'abs_rel_graph', graph_id: 'follower-transition', label_abs: '人', label_rel: '%', graph_title: graph_title(account),
        account: account, chart_data_abs: follower_per_date, chart_data_rel: follower_per_date_rel, posts_per_date: posts_per_date,
        talk_posts_per_date: talk_posts_per_date, type: 'line' %>
    </div>
    <div class="col-xl-5 mb-4">
    <%= render 'abs_rel_graph', graph_id: 'follower-increment', label_abs: '人', label_rel: '%', graph_title: "#{graph_title(account)}増減",
        account: account, chart_data_abs: follower_increment_per_date, chart_data_rel: follower_increment_per_date_rel, posts_per_date: posts_per_date,
        talk_posts_per_date: talk_posts_per_date, type: 'bar' %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'accounts/follower_transition_graph' %>
